name: push to DockerHub

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@79abd3f86f79a9d68a23c75a09a9a85889262adf

      - name: Docker login
        uses: docker/login-action@v1
        with:
          username: bhogayatajay
          password: dckr_pat_1sdRqvrdzsefiOVtvnweZdG6oqs

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@ac9327eae2b366085ac7f6a2d02df8aa8ead720a
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: bhogayatajay/technetic-server